version: '3.8'

services:
  web:
    build: .
    container_name: transcription_app
    restart: always
    volumes:
      - ./downloads:/app/downloads
      - ./uploads:/app/uploads
      - ./.env:/app/.env
    env_file:
      - .env
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
