version: '3.8'

services:
  app:
    build: .
    container_name: zoom-audio-app
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - GOOGLE_APPLICATION_CREDENTIALS=/app/key.json
      - GOOGLE_CLOUD_PROJECT=${PROJECT_ID}
      - BUCKET_NAME=${BUCKET_NAME}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - HF_TOKEN=${HF_TOKEN}
    env_file:
      - .env
    volumes:
      - ./key.json:/app/key.json
      - ./static:/app/static
      - ./uploads:/app/uploads
    restart: unless-stopped
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --timeout-keep-alive 600
