flask
flask-cors
werkzeug
yt-dlp
faster-whisper>=1.0.3
google-generativeai
gunicorn
python-dotenv
apscheduler
python-docx
fpdf2
# הגרסה הזו של av עובדת מצוין עם faster-whisper החדש
av>=12.0.0
# ספריות לזיהוי דוברים
pyannote.audio
torch
torchaudio
